.post-item {
  &:nth-of-type(1) {
    grid-area: p1;
  }

  &:nth-of-type(2) {
    grid-area: p2;
  }

  &:nth-of-type(3) {
    grid-area: p3;
  }

  &:nth-of-type(4) {
    grid-area: p4;
  }

  &:nth-of-type(5) {
    grid-area: p5;
  }

  &:nth-of-type(6) {
    grid-area: p6;
  }
}
