.header-menu {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  width: 100%;

  @include md {
    background-color: rgba(68, 89, 110, 0.25);
  }

  &__container {
    display: grid;
    align-items: center;

    @extend %container;
    grid-template-columns: auto 1fr;
  }
}
